version: '3.9'
services:
  couchbase:
    image: couchbase
    ports:
      - 8091:8091 # couchbase admin client
      - 8092:8092 # couchbase query client
      - 8093:8093 # couchbase index service
      - 8094:8094 # couchbase query service
      - 11210:11210 # client data access
      - 18091:18091 # couchbase admin client https
    restart: always
    # deploy:
    #   replicas: 2
    #   # endpoint_mode: dnsrr # Use DNS round-robin for service discovery
    #   restart_policy:
    #     condition: on-failure
    environment:
      COUCHBASE_ADMINISTRATOR_USERNAME: admin
      COUCHBASE_ADMINISTRATOR_PASSWORD: admin1234
    networks:
      - couchbase-network
    volumes:
      - couchbase-data:/opt/couchbase/var
      - ./scripts:/scripts # Mount the local script directory to the container
    command: /bin/bash -c "chmod +x /scripts/initialize_couchbase.sh && /scripts/initialize_couchbase.sh"

networks:
  couchbase-network:
    # driver: overlay

volumes:
  couchbase-data:
